[build]
builder = "nixpacks"
buildCommand = "npm run build:backend"
startCommand = "npm run start:backend"

[phases.setup]
nixPkgs = ["nodejs-20_x", "npm", "openssl"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = [
    "cd src/backend && npx prisma generate",
    "npm run build:backend"
]

[deploy]
healthCheckPath = "/api/health"
healthCheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
